
.navbar {
  height: 90px;
  width: 100%;


}

.nav-logo {
  height: 60px;
  width: 80px;
  border-radius: 10px;
}

.btn-gradient-radius li {
  float: right;
  list-style: none;


}

.btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  float: right;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}



.main {
  background-color: #e6e6fa



}

.wrapper {
  padding: 180px 0 100px 0;
  background-color: rgba(76, 175, 80, 0.5);
  background-size: cover;
  text-align: center;
  margin: 0px 30px 0px 30px;
  


}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-text p {
  padding: 15px 10px 15px 10px
  ;
}

.text-wrapper {
  margin: 60px 30px 60px 30px;
}

.text-container {
  margin: 30px 0px 30px 0px;
}






.footer {

  height: 200px;
  background-color: #dcdcdc;

}

.footer-list li {
  list-style: none;
  text-align: center;
}
