{% extends 'perotta/base.html' %}

{% block content %}
<h2>出品された本</h2>


{% for post in post_list %}
<div class="card mb-3">

  <div class="card-body">
    <h4 class="card-header bg-dark text-white"> {{ post.title }} </h4>
    <p class="card-text">
      {{ post.text }}
    </p>
    <div class="card-body">
      <p>{{ post.created_at }}, {{ post.category }} </p>
    <a class="btn btn-primary" href="{% url 'perotta:detail' post.pk %}">続きを読む</a>
  </div>
  </div>
</div>
{% endfor %}

{% include 'perotta/page.html' %}

{% endblock %}
